{
  "extends": ["airbnb/base"],

  "rules": {        
    "no-underscore-dangle": "off",
    "import/extensions": ["error", "ignorePackages", {
      "js": "off"
    }]
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}