@import "components/keyboard/keyboard.css";
@import "components/button/button.css";

* {
  margin: 0;
  padding: 0;
}

.textarea {
  font-size: 25px;
  display: block;
  margin: auto;
  padding: 10px;
}